.all {
    box-sizing: border-box;

}

h1  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.widgets {
    height: 200px;
    width: 700px;
    background-color: brown;
    font-size: 20px;
}


.small__widgets {
    width: 227px;
    height: 227px;
    background-color: cadetblue;
}

.big__widgets {
    box-sizing: border-box;
    display: flex;
    align-content: space-between;
    text-align: center;
}

.w_center {
    margin: 10px;
}

.w_right {
    margin-top: 10px;
}

.contact {
    height: 500px;
    width: 700px;
    background-color: brown;
    text-align: center;
    font-size: 20px;
}