p {
    background: antiquewhite;
    color: burlywood;
}

img {
    width: 300px;
    height: 300px;
}

h1 {
    background: brown;
    color: yellow;
}

h2  {
    background: cadetblue;
    color: aqua;
}